.card-list__wrapper {
  max-width: 788px;
  margin: 0 auto;
}

.card-list-title {
  font-size: 18px;
  color: #4d5256;
  margin-top: 35px;
  margin-bottom: 41px;
}

.card__thumbnail {
  width: 100%;
  height: 135px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card__desc-wrapper {
  width: 100%;
  box-sizing: border-box;
  @include padding-side($size-1);
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}



.card {
  position: relative;

  width: 256px;
  min-height: 380px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(41, 42, 43, 0.2);
  background-color: #ffffff;
  border: solid 1px #a9afb3;
  margin-bottom: 32px;
  padding-bottom: 10px;
  margin-right: 10px;
}

li:nth-of-type(3n + 0) {
  & .card {
    margin-right: 0;
  }
}

.card-list-item {
  & a {
    cursor: pointer;
  }
}

.desc-box {
  height: 180px;
}



.desc-time,
.desc-phone,
.desc-address {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #878d91;
  margin: 0;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.like-button {
  position: absolute;
  bottom : 20px;
  width: 68px;
  height: 36px;
  border-radius: 10px;
  background-color: #f1f5f5;
}

.desc-title {
  font-size: 18px;
  margin-top: 18px;
  margin-bottom: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #292a2b;
}

#top-btn {
  width: 787px;
  height: 75px;
  border-radius: 11px;
  background-color: #f8fafb;
  display: flex;
  justify-content: center;
  align-items: center;
}